<!DOCTYPE html>
<html>
<head>
<title>Government POLYTECHIC AURAI BHADOHI</title>
<link rel="icon" type="image/png" href="gpalogo.png" height="100px" width="100px"/>
<link href="webcss.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
 <div id="title">
  <div id="logo1">&nbsp;&nbsp;&nbsp;&nbsp;<img src="gpalogo.png" ALIGN="CENTER"></div>
   <div id="boardname"><BR/><h1 align="center">GOVERNMENT POLYTECHIC AURAI BHADOHI</h1></div>
   <div id="logo2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="uplogo.png"></div>
 </div>
<div id="menu">
<ul>
<li><a href="home.html">HOME</a></li>
<li class="L"><a href="about.html">ABOUT US</a></li>
<li><a href="faculty login.html">FACULTY LOGIN</a></li>
<li><a href="student login.html">STUDENT LOGIN</a></li>
<li><a href="resister.html">REGISTER</a></li>
<li><a href="contact.html">CONTACT US</a></li>
</ul>
<div class="search">
<input type="text" placeholder="Search Here">
<button>Search</button>
</div>
</div>
 <DIV ID="BODY1">
  <div id="aboutbody1">
   <div id="about1">
    <center><h1 style="font-size:35px;color:rgb(45,137,176);font-family:times nw roman;text-shadow:4px 4px 5px;">ABOUT US</h1>
	<hr width="588px"color="blue"></center>
    <U>GOVERNMENT POLYTECHNIC AURAI</U> Sant Ravidas Nagar Bhadohi Is a Government Insititute Located At Aurai In Uttar Pradesh. The Address Of The 
    Insisitute Is Katehara, Sant Ravidas Nagar,Pincode 221301. It Operates Under The Parent organization <U>GOVERNMENT POLYTECHNIC AURAI</U> (Sant
	Ravidas nagar Bhadohi). The Insititute Started Its first Course In 2010. <U>GOVERNMENT POLYTECHNIC AURAI</U> (Sant Ravidas Nagar bhadohi) Is 
    Open For Both Men And Women. <U>GOVERNMENT POLYTECHNIC AURAI</U> (Sant Ravidas Nagar bhadohi) Is Open For All Sections Of Society. The Head Of
	The Insititute Is Principal <u>SATYA PRAKASH SRIVASTAVA</u>. Contact Details: Approved By: (AICTE) <u>ALL INDIA COUNCIL OF TECHNICAL EDUCATION</u>
    Affliated To: <u>Uttar Pradesh BOARD OF TECHNICAL EDUCATION</u>, LUCKNOW (BTEUP). Application:(GPAURAI) Email:<u>principalgpaurai@gmail.com</u> Landline No:
    <u>5414-218010</u> FACULTY In College: 24 FACILITIES: Boys Hostel, Girl Hostel, library, Sports, cafeteria, Auditorium, IT Infrastructure.	
   </div>
  </div>
  <div id="aboutbody2">
   <center><h1 style="font-size:35px;color:rgb(45,137,176);font-family:times nw roman;text-shadow:1px 3px 3px;">HEADS OF INSITITUTE</H1>
   <HR WIDTH="600PX" COLOR="BLUE"/>
   <br/>
   <img src="sps.jpg" style="height:150px;width:150px;BORDER-RADIUS:25PX;border:1px solid indigo;box-shadow:5px 5px 5px black;"><br/>
	<SPAN><B>Mr.SATYA PRAKASH SRIVASTAVA</SPAN><br/>
	(Acting Principal & Head Of Department CSE)</B><hr width="400px"color="navy"/><br/>
   <img src="kamlesh.png" style="height:150px;width:150px;BORDER-RADIUS:25PX;border:1px solid indigo;box-shadow:5px 5px 5px black;"><br/>
    <SPAN><B>Mr.KAMLESH MANI TRIPATHI</SPAN><br/>
	(Head Of Department IT)</B><BR/><hr width="400px" color="navy"/><br/>
   <img src="Sanjay.jpg" style="height:150px;width:150px;BORDER-RADIUS:25PX;border:1px solid indigo;box-shadow:5px 5px 5px black;"><br/>
    <SPAN><B>Mr.SANJAY KUMAR SINGH</SPAN><br/>
	(Acting Head Of Department ELECTRONICS)</B><hr width="400px" color="navy"/>
	</tr>
   </table>	</center>
  </div>
 </DIV>
 <div id="footer">
  <p align="center">Copyright&nbsp; &copy; All&nbsp; rights&nbsp; reserved.</p>
  <p align="center">
   <a href="#">E-Learning Resources</a>
   <a href="https://bteup.ac.in">BTEUP</a>
   <a href="#">Syllabus</a>
   <a href="#">Grievance & Redresal</a>
   <a href="#">Gallary</a>
   <a href="#">CopyRightStatement</a>
   <a href="#">Admin Login</a>
  </p>
  <p align="center">Unuversity Hub by <a href="#">WEN Themes</a></p>
 </div>
</header>
</body>
</html>