<!DOCTYPE html>
<html>
<head>
<title>Government POLYTECHIC AURAI BHADOHI</title>
<link rel="icon" type="image/png" href="gpalogo.png" height="100px" width="100px"/>
<link href="webcss.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
 <div id="title">
  <div id="logo1">&nbsp;&nbsp;&nbsp;&nbsp;<img src="gpalogo.png" ALIGN="CENTER"></div>
   <div id="boardname"><BR/><h1 align="center">GOVERNMENT POLYTECHIC AURAI BHADOHI</h1></div>
   <div id="logo2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="uplogo.png"></div>
 </div>
<div id="menu">
<ul>
<li><a href="home.html">HOME</a></li>
<li><a href="about.html">ABOUT US</a></li>
<li><a href="faculty login.html">FACULTY LOGIN</a></li>
<li><a href="student login.html">STUDENT LOGIN</a></li>
<li><a href="resister.html">REGISTER</a></li>
<li class="L"><a href="contact.html">CONTACT US</a></li>
</ul>
<div class="search">
<input type="text" placeholder="Search Here">
<button>Search</button>
</div>
</div>
 <DIV ID="BODY"><center>
  <h1 style="font-size:35px;color:WHITE;font-family:times nw roman;text-shadow:4px 4px 5px;">CONTACT US</h1>
   <HR WIDTH="700PX" COLOR="WHITE"><BR/>
  <form method="get" action="#">
   <FIELDSET STYLE="WIDTH:550PX;HEIGHT:600PX;BACKGROUND-COLOR:rgba(0,0,0,0.6);">
    <TABLE BORDER="0" CELLPADDING="0px" CELLSPACING="40px" style="margin:10px 0px 0px 0px;">
     
     <TR>
      <TD>NAME<sup><span style="color:red;">*</span></sup></TD>
      <TD><INPUT TYPE="TEXT" Name="Name" PLACEHOLDER="Enter Your Name" required="true" class="input"/></TD>
     </TR>
	 <tr>
	  <td>EMAIL ADDRESS<sup><span style="color:red;">*</span></sup></td>
      <td><input type="email" name="email" required="true" placeholder="Enter Email ID"class="input"></td>
     </tr>
	 <tr>
	  <td>SUBJECT<sup><span style="color:red;">*</span></sup></td>
      <td><input type="text" name="subject" required="true" placeholder="Subject"class="input"></td>
     </tr>
	 <tr>
	  <td>MESSAGE<sup><span style="color:red;">*</span></sup></td>
      <td><textarea cols="30" rows="3" name="MESSAGE" required="true" placeholder="Enter Your Message"class="input"></textarea></td>
     </tr>
	 <tr>
	  <td>UPLOAD FILE</td>
      <td><input type="file" name="File"class="input"></td>
     </tr>
   </table>
   <INPUT type="SUBMIT" VALUE="SEND"class="sub"></td>
  </center>
   </form>
 </DIV>
 <div id="footer">
  <p align="center">Copyright&nbsp; &copy; All&nbsp; rights&nbsp; reserved.</p>
  <p align="center">
   <a href="#">E-Learning Resources</a>
   <a href="https://bteup.ac.in">BTEUP</a>
   <a href="#">Syllabus</a>
   <a href="#">Grievance & Redresal</a>
   <a href="#">Gallary</a>
   <a href="#">CopyRightStatement</a>
   <a href="#">Admin Login</a>
  </p>
  <p align="center">Unuversity Hub by <a href="#">WEN Themes</a></p>
 </div>
</header>
</body>
</html>