<!DOCTYPE html>
<html>
<head>
<title>GOVERNMENT POLYTECHIC AURAI BHADOHI</title>
<link rel="icon" type="image/png" href="gpalogo.png" height="100px" width="100px"/>
<link href="webcss.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
 <div id="title">
  <div id="logo1">&nbsp;&nbsp;&nbsp;&nbsp;<img src="gpalogo.png" ALIGN="CENTER"></div>
   <div id="boardname"><BR/><h1 align="center">GOVERNMENT POLYTECHIC AURAI BHADOHI</h1></div>
   <div id="logo2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="uplogo.png"></div>
 </div>
<div id="menu">
<ul>
<li><a href="home.html">HOME</a></li>
<li><a href="about.html">ABOUT US</a></li>
<li class="L"><a href="faculty login.html">FACULTY LOGIN</a></li>
<li><a href="student login.html">STUDENT LOGIN</a></li>
<li><a href="resister.html">REGISTER</a></li>
<li><a href="contact.html">CONTACT US</a></li>
</ul>
<div class="search">
<input type="text" placeholder="Search Here">
<button>Search</button>
</div>
</div>
 <DIV ID="BODY"><center>
  <h1 style="font-size:35px;color:WHITE;font-family:times nw roman;text-shadow:4px 4px 5px;">FACULTY LOGIN</h1>
   <HR WIDTH="700PX" COLOR="WHITE"><BR/>
  <form method="get" action="#">
   <FIELDSET STYLE="WIDTH:550PX;HEIGHT:450PX; BACKGROUND-COLOR:rgb(0,0,0,0.6);">
  <LEGEND><IMG SRC="LOGIN ICON.PNG"></LEGEND>
   <TABLE BORDER="0" CELLPADDING="0px" CELLSPACING="40px" style="margin:10px 0px 0px 0px;">
     
     <TR>
      <TD>USER ID<sup><span style="color:red;">*</span></sup></TD>
      <TD><INPUT TYPE="TEXT" Name="ENRL NO" PLACEHOLDER="Enter Enrollment No" required="true" class="input"/></TD>
     </TR>
	 <tr>
	  <td>PASSWORD<sup><span style="color:red;">*</span></sup></td>
      <td><input type="PASSWORD" name="pass" required="true" placeholder="Enter Password"class="input"></td>
     </tr>
   </table>
   <INPUT type="SUBMIT" VALUE="LOGIN"class="sub"></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <INPUT type="RESET" VALUE="RESET"class="sub"></td>
  </center>
   </form>
 </div>
 </DIV>
 <div id="footer">
  <p align="center">Copyright&nbsp; &copy; All&nbsp; rights&nbsp; reserved.</p>
  <p align="center">
   <a href="#">E-Learning Resources</a>
   <a href="https://bteup.ac.in">BTEUP</a>
   <a href="#">Syllabus</a>
   <a href="#">Grievance & Redresal</a>
   <a href="#">Gallary</a>
   <a href="#">CopyRightStatement</a>
   <a href="#">Admin Login</a>
  </p>
  <p align="center">Unuversity Hub by <a href="#">WEN Themes</a></p>
 </div>
</header>
</body>
</html>