<!DOCTYPE html>
<html>
<head>
<title>Government POLYTECHIC AURAI BHADOHI</title>
<link rel="icon" type="image/png" href="gpalogo.png" height="100px" width="100px"/>
<link href="webcss.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
 <div id="title">
  <div id="logo1">&nbsp;&nbsp;&nbsp;&nbsp;<img src="gpalogo.png" align="CENTER"></div>
   <div id="boardname"><BR/><h1 align="center">GOVERNMENT POLYTECHIC AURAI BHADOHI</h1></div>
   <div id="logo2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="uplogo.png"></div>
 </div>
<div id="menu">
<ul>
<li class="L"><a href="home.html">HOME</a></li>
<li><a href="about.html">ABOUT US</a></li>
<li><a href="faculty login.html">FACULTY LOGIN</a></li>
<li><a href="student login.html">STUDENT LOGIN</a></li>
<li><a href="resister.html">REGISTER</a></li>
<li><a href="contact.html">CONTACT US</a></li>
</ul>
<div class="search">
<input type="text" placeholder="Search Here">
<button>Search</button>
</div>
</div>
 <DIV id="body">
   <div id="home1">
    <div id="img1"><br/>
	 <center><img src="hostel2.jpg"></center></div>
    <div id="img2"><br/>
     <center><img src="bothlogo.jpg"/></center></div>
   </div>
   <div id="home2">
    <div id="img3"><br/>
	 <center><img src="Clgpic.png"></center></div>
	<div id="img4"><br/>
	 <center><img src="hostel1.jpg"></center></div>
   </div>
 </div>  
 <div id="footer">
  <p align="center">Copyright&nbsp; &copy; All&nbsp; rights&nbsp; reserved.</p>
  <p align="center">
   <a href="#">E-Learning Resources</a>
   <a href="https://bteup.ac.in" target="_blank">BTEUP</a>
   <a href="#">Syllabus</a>
   <a href="#">Grievance & Redresal</a>
   <a href="#">Gallary</a>
   <a href="#">CopyRightStatement</a>
   <a href="#">Admin Login</a>
  </p>
  <p align="center">Unuversity Hub by <a href="#">WEN Themes</a></p>
 </div>
</header>
</body>
</html>