<!DOCTYPE html>
<html>
<head>
<title>Government POLYTECHIC AURAI BHADOHI</title>
<link rel="icon" type="image/png" href="gpalogo.png" height="100px" width="100px"/>
<link href="webcss.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
 <div id="title">
  <div id="logo1">&nbsp;&nbsp;&nbsp;&nbsp;<img src="gpalogo.png" ALIGN="CENTER"></div>
   <div id="boardname"><BR/><h1 align="center">GOVERNMENT POLYTECHIC AURAI BHADOHI</h1></div>
   <div id="logo2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="uplogo.png"></div>
 </div>
<div id="menu">
<ul>
<li><a href="home.html">HOME</a></li>
<li><a href="about.html">ABOUT US</a></li>
<li><a href="faculty login.html">FACULTY LOGIN</a></li>
<li><a href="student login.html">STUDENT LOGIN</a></li>
<li class="L"><a href="resister.html">REGISTER</a></li>
<li><a href="contact.html">CONTACT US</a></li>
</ul>
<div class="search">
<input type="text" placeholder="Search Here">
<button>Search</button>
</div>
</div>
 <DIV ID="BODY"><center>
  <h1 style="font-size:35px;color:WHITE;font-family:times nw roman;text-shadow:4px 4px 5px;">RESISTER YOURSELF</h1>
   <HR WIDTH="700PX" COLOR="WHITE">
   <DIV ID="FORM">
    <FORM  METHOD="POST" ACTION="#">
    <TABLE BORDER="0" CELLPADDING="0px" CELLSPACING="15px" style="margin:50px 0px;">
     <TR>
      <TD>ENROLLMENT NUMBER<sup><span>*</span></sup></TD>
      <TD><INPUT TYPE="TEXT" Name="ENRL NO" PLACEHOLDER="Enter Enrollment No" required="true" class="input"/></TD>
     </TR>
	 <TR>
      <TD> NAME<sup><span>*</span></sup></TD>
      <TD><INPUT TYPE="TEXT" Name="USER'S Name" PLACEHOLDER="Enter Your Name" required="true"class="input"/></TD></TR>
     <TR>
	  <TD>FATHER'S NAME<sup><span>*</span></sup></TD>
      <TD><INPUT TYPE="TEXT" Name="FATHER'S Name" PLACEHOLDER="Enter Your Father' Name"required="true"class="input"></TD></TR>
     <TR>
      <TD>MOTHER'S NAME<sup><span>*</span></sup></TD>
      <TD><INPUT TYPE="TEXT" Name="MOTHER'S Name" PLACEHOLDER="Enter Your Mother's Name"required="true"class="input"></TD></TR>
     <TR>
      <TD>DATE OF BIRTH<sup><span>*</span></sup></TD>
      <TD><INPUT TYPE="DATE" Name="DOB"required="true"class="input"></TD></TR>
     <TR>
      <TD>EMAIL ADDRESS<sup><span>*</span></sup></TD>
      <TD><INPUT TYPE="EMAIL" Name="EMAIL"PLACEHOLDER="Enter Your Email Address"required="true"class="input"/></TD></TR>
     <TR>
      <TD>MOBILE NUMBER<sup><span>*</span></sup></TD>
      <TD><INPUT TYPE="NUMBER" Name="MOBILE NUMBER" MAXLENGTH="10" PLACEHOLDER="Enter Your Mobile Number"required="true"class="input"/></TD></TR>
     <TR>
      <TD>UPLOAD THE PICTURE<sup><span>*</span></sup></TD>
      <TD><INPUT TYPE="FILE" Name="CANDIDATE'S PICTURE"required="true"class="input"/></TD></TR>
	 <tr>
	  <td>ENTER PASSWORD<sup><span>*</span></sup></td>
      <td><input type="PASSWORD" name="pass" required="true" placeholder="Enter Password"class="input"></td>
     </tr>
	 <tr>
	  <td>CONFIRM PASSWORD<sup><span>*</span></sup></td>
      <td><input type="PASSWORD" name="pass" required="true" placeholder="Confirm Password"class="input"></td>
     </tr>
    </TABLE>
	<input TYPE="SUBMIT" VALUE="SUBMIT" required="true"class="sub"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input TYPE="RESET" VALUE="RESET"class="sub"/></CENTER>
  </center>
  </FORM>
 </DIV>
 </DIV>
 <div id="footer">
  <p align="center">Copyright&nbsp; &copy; All&nbsp; rights&nbsp; reserved.</p>
  <p align="center">
   <a href="#">E-Learning Resources</a>
   <a href="https://bteup.ac.in">BTEUP</a>
   <a href="#">Syllabus</a>
   <a href="#">Grievance & Redresal</a>
   <a href="#">Gallary</a>
   <a href="#">CopyRightStatement</a>
   <a href="#">Admin Login</a>
  </p>
  <p align="center">Unuversity Hub by <a href="#">WEN Themes</a></p>
 </div>
</header>
</body>
</html>